body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


.section-one,
footer {
    background: #1f2937;
}

.section-three {
    background: #E5E7EB;
}

.registration,
button {
    background: #3882F6;
}